@import "../../vars.css";

.container {
    color: var(--color-text);
    margin-top: 120px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100vw;
    padding: 58px 10%;
    gap: 10px;
}

.text h2 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 4px;
}

.text p {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 26px;
}

.link {
    display: flex;
    align-items: center;
    gap: 25px;
}

.link a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.contactFormContainer {
    padding: 20px;
    max-width: 600px;
}

.contactForm {
    display: flex;
    flex-direction: column;
}

.inputGroup {
    margin-bottom: 20px;
}

.inputGroup label {
    display: block;
    margin-bottom: 8px;
    color: var(--color-text);
}

.inputGroup input,
.inputGroup textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.submitBtn {
    padding: 10px 20px;
    background: var(--color-primary);
    border-radius: 100px;
    border: 0px;
    color: var(--color-text);
}

.submitBtn:hover {
    background-color: #0054b3;
}


.successMessage {
    padding: 10px;
    background-color: var(--color-secondary);
    color: var(--color-text);
    border-radius: 4px;
    text-align: center;
}


@media screen and (max-width: 830) {
    .container {
        flex-direction: column;
        gap: 23px;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links {
        align-items: center;
    }
}